/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-jul-2015, 12:24:03
    Author     : jebus
*/


  

.frontal {
  width: 100px;
  height:100px;
  background: url(http://1.bp.blogspot.com/-R7NM2HBq--Q/UesCwsosv3I/AAAAAAAAKrs/ZZm2CMlqVWs/s1600/1.png);
  background-size: 100px 100px;
  z-index: 5;
  position: relative;
  left: 91px;
}
.back {
  width: 100px;
  height: 100px;
  background: url(http://1.bp.blogspot.com/-Hke9nBhL3Gc/UesDBMdQypI/AAAAAAAAKr0/4d9J8v5i58o/s1600/2.png);
  background-size: 100px 100px;
  position: relative;
  top: -219px;
  left: 91px;
  z-index: 2;
}
.mapfront {
  border-radius: 300px;
  width: 83px;
  height: 59px;
  position: relative;
  top: -77px;
  left: 99px;
  z-index: 4;
}

.mapback {
  border-radius: 300px;
  width: 60px;
  height: 60px;
  position: relative;
  top: -140px;
  left: 111px;
  z-index: 4;
}
.mapfront {
  background: url(http://1.bp.blogspot.com/-M5AZ_16w8b4/UesDQ6r3miI/AAAAAAAAKr8/Sj0Tu25SgWA/s1600/3.png) repeat-x;
  -webkit-animation: mapfront_spin 15s linear infinite;
  animation: mapfront_spin 35s linear infinite;
  background-size: 186px 67px;
}
.mapback {
  background: url(http://2.bp.blogspot.com/-PEUhx5zxLcg/UesDeRIwkmI/AAAAAAAAKsE/XvusGF7_Omc/s1600/4.png) repeat-x;
  
  -webkit-animation: mapback_spin 15s linear infinite;
  animation: mapback_spin 35s linear infinite;
  background-size: 100px 100px;
  
}
 
        
        
        .botone{
                color:#f00;
                cursor:pointer;
            }
            .botone:hover:hover{
                color: #ccc;
            }
        
            #infoBox{
                display:none;
            }        

            #cabecera{
                position:relative;
                height:130px;
                
            }
            
            
            .globo{
                display: inline-block;  
                box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5); 
                border-radius: 10px; 
                float: right;  
                margin-right: 30px; 
                width: 285px;
                height: 110px;
                position: static;
  
                
              
               
            }
            
            #interiorCanvas{
                position:absolute; 
                z-index:4; 
                background: url(images/nebula-xneg.png); 
                width: 100px !important;
                height: 40% !important; 
                margin-left:20px;
            }
            
            #ListaCanvas{
                position:absolute; 
                          
                margin-top:30px;
                
            }
            
            .liMVO{
                
                white-space:nowrap; 
                color: gray;
            }
            
            .btnMVO{
                
                background:url(images/nebula-xneg.png); 
                border:none;
            }
            
                 
           
            
            #ularbol{
                color:gray;
            }
            
            .liarbol{
                white-space:nowrap; 
                color:gray;
            }
            #atree{
                color:gray;
            }
            
            
            #titulo{
                display: inline-block;  
                float: left;  
                margin-left: 20px; 
                width: 855px;
                height: 65px;
                position: static;
                margin-top: 10px;
                
                
            }
            
            
            
            #ruta{
                
                width:855px; 
                height:55px; 
                position:relative; 
                left:20px; 
                top:80px;
                z-index:1;
                box-shadow:0 0 10px 2px rgba(0, 0, 0, .5); 
                border-radius: 10px 10px 0px 0px;    
            }
            
            #ListaCanvas2{
                position:absolute;            
                margin-top:350px;
                z-index:2;
                margin-left:20px;
            }
            
            #nomdepa{
                position:absolute; 
                z-index:3; 
                background: url(images/nebula-xneg.png); 
                width: 855px !important;
                height: 20px !important; 
                margin-left:20px;
            }